//Fonts
$font-stack: din-2014, sans-serif;
$font-narrow: din-2014-narrow, sans-serif; 

$weight-light: 200;
$weight-regular: 400;
$weight-bold: 700;

//Colors
$light-blue: #48a7a7;           //rgb(72,167,167)
$dark-blue: #4885aa;            //rgb(72,133,170)
$yellow: #c8b638;               //rgb(200,182,56)
$dark-dark-blue: #407989;       //rgb(64,121,137)
$gray: #58595b;                 //rgb(88,89,91)
$pink: #cb96a3;                 //rgb(203,150,163)
$dark-pink: #ad96a4;            //rgb(173,150,164)

.light-blue {
    color: $light-blue;
} 
.dark-blue {
    color: $dark-blue;
} 
.yellow {
    color: $yellow;
} 
.dark-dark-blue {
    color: $dark-dark-blue;
} 
.gray {
    color: $gray;
} 
.pink {
    color: $pink;
} 
.dark-pink {
    color: $dark-pink;
} 

.bg-light-blue {
    background-color: $light-blue;
} 
.bg-dark-blue {
    background-color: $dark-blue;
} 
.bg-yellow {
    background-color: $yellow;
} 
.bg-dark-dark-blue {
    background-color: $dark-dark-blue;
} 
.bg-gray {
    background-color: $gray;
} 
.bg-pink {
    background-color: $pink;
} 
.bg-dark-pink {
    background-color: $dark-pink;
} 

//Extend
%quick-transition {
    transition: all;
    transition-duration: .5s;
    transition-timing-function: ease;
}

%parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%clip-hexagon {
    clip-path: polygon(50% 0, 90% 25%, 90% 75%, 50% 100%, 10% 75%, 10% 25%);
}

article {
    width: 100vw;
    overflow-x: hidden;
}

section {
    width: 100vw;
    overflow-x: hidden;
}

.slideWrapper {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

%button {
    background-color: $yellow;
    border: none;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
    margin-bottom: 2rem;
    transition: all .5s;
    width: 12rem;
}

%button-transition {
    width: 13rem;
    background-color: $light-blue;
}

%filter {
    filter: saturate(1);
}

html, body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-stack;
    color: $gray;
    font-weight: $weight-light;
    font-size: 1.25rem;
    width: 100vw;
}

.cateShow {
    position: fixed;
    margin-right: 2rem;
    bottom: 0;
    right: 0;
    z-index: 10;
    max-height: 10rem;
}

.cate {
    display: none;
}

.hex {
    @extend %clip-hexagon;
}

.bigHex {
    position: absolute;
    object-fit: cover;
    z-index: -5;
    width: 40rem;
    height: 40rem;
}

.leftHex {
    margin-top: -60rem;
    margin-left: -20rem;
    opacity: 0.25;
    img {
        max-height: 50rem;
        margin-right: 100rem;
    }
}

.rightHex {
    margin-top: -65rem;
    margin-left: 30rem;
    opacity: 0.25;
}

.bottomHex {
    margin-top: -20rem;
    margin-left: 10rem;
    opacity: 0.25;
}

.flexColumn {
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-between;
}

.flexRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#FLlogos {
    img {
        max-height: 2rem;
        margin: 1rem;
    }
    padding: 1rem;
}

.verticalLogo {
    min-height: 5rem;
}

#initiativesTransition {
    background-image: url("../images/Transfer/11.jpg");
    @extend %filter;
}

#payingForwardTransition {
    background-image: url("../images/Transfer/2.JPG");
    @extend %filter;
}

#membersTransition {
    background-image: url("../images/Transfer/5.JPG");
    @extend %filter;
}

#programmingTransition {
    background-image: url("../images/Transfer/8.JPG");
    @extend %filter;
}

#technologyTransition {
    background-image: url("../images/Transfer/12.jpg");
    @extend %filter;
}

.EPname p {
    color: $gray;
}

h1, h2 {
    font-weight: $weight-light;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

h1 {
    //margin-top: -5rem;
    color: $light-blue;
    text-align: center;
    z-index: 1;

    #h1date {
        font-size: 15rem;
        line-height: 13rem;
    }
    
    #h1sub {
        font-size: 2rem;
        letter-spacing: 1rem;
        color: $gray;
        margin-left: -1.8rem;
    }
}

nav {
    min-height: 5rem;
    width: 100vw;
    background-color: $pink;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;

    #navlogo {

        img {
            width: 17rem;
            margin: -1.75rem auto -2rem auto;
        }
    }

    #navlinks {
        display: flex;
        width: 80%;
        min-height: 5rem;
        justify-content: flex-end;
        align-items: center;
        padding-right: 3rem;
        justify-self: flex-end;
        
        a {
          
            button {
                color: white;
                text-decoration: none;
                font-size: 1rem;
                font-weight: $weight-regular;
                min-height: 5rem;
                border: none;
                background-color: transparent;
                padding: 0 1rem 0 1rem;
                text-transform: none;
                @extend %quick-transition;
            }

            button:hover {
                background-color: rgba(255, 255, 255, .2);
            }  
        }
    }
}

header {
    background-color: white;
    z-index: 1;
    @extend %parallax;
    @extend %flex-center;
}

#programs {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    div {
        width: 15rem;
        position: relative;
    }
}

div #covidProgramming.slide {
    max-width: 100vw;
}

.covidheader {
    max-width: 60rem;
    text-align: center;
    margin: auto;
}

.event {
    margin: 3rem;
}

.quoteContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    font-size: 1.5rem;
    background-color: $light-blue;
    border-radius: 2rem;
    padding: 1rem;
    color: white;
    margin-bottom: 2rem;
    .quoteAttr {
        font-size: 1rem;
        line-height: 1;
    }
    .hex {
        height: 19rem;
        width: 19rem;
        display: flex;
        align-content: center;
        margin-left: -10rem;
    }
    img {
        height: 19rem;
        text-align: center;
    }
}

.quote {
    font-size: 19rem;
    margin-top: -4rem;
    font-family: sans-serif;
}

.quote1 {
    margin-right: 1rem;
    max-height: 2rem;
}

.slide, .transition, header {
    min-height: 100vh;
    background-size: cover;
    overflow: hidden;
    h2 {
        font-size: 3rem;
    }
}

.slide {
    padding: 10rem 10rem 10rem 10rem;
    max-width: 50rem;
    margin: auto;
}

.transition {
    padding: 20rem 10rem 20rem 10rem;
    background-position: center top;
    h2 {
        font-size: 5rem;
    }
}

.statsWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .statWrapper {
        display: flex;
        flex-flow: row nowrap;
        max-width: 20rem;
        margin: 2rem;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin-bottom: 5rem;
        span {
            font-size: 7rem;
            margin-right: 1rem;
            margin-left: 2rem;
        }
    }
}

.statWrapper:nth-child(2), .statWrapper:nth-child(4) {
    max-width: 25rem;
    p {
        font-size: .85rem;
    }
}

#bysector, #covidProgramming {
    max-width: 100vw;
    h2 {
        text-align: center;
    }
}

.statHex {
    color: white;
    font-size: 1rem;
    height: 10rem;
    width: 10rem;
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    p {
        width: 10rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin: auto;
    }
}
.bbButton {
    @extend %button;
    margin-top: 2rem;
    width: 20rem;
}

.bbButton:hover {
    @extend %button-transition;
    width: 22rem;
}

#welcome {
    color: white;
    .slideWrapper:nth-child(1) {
        background-color: $light-blue;
    }
    .slideWrapper:nth-child(2) {
        background-color: $gray;
    }
    .slideWrapper {
        img {
            margin-left: -1rem;
            width: 15rem; 
            height: 15rem;
            object-fit: cover;
            object-position: top;
        }
    }
    .CEOSpiel:nth-child(2) {
        margin-top: 10rem;
    }
    #chairHeadshots {
        display: flex;
        div {
            margin: 2rem 1rem 2rem 0rem;
        }
        img {
            margin-left: -1rem;
            width: 15rem;
        }
    }
}


.transition {
    background-image: linear-gradient(135deg,rgb(72,167,167) 0%,rgba(72,167,167,.6) 60%,rgba(0,0,0,0) 60%,rgba(255,255,255,0) 100%), url("http://unsplash.it/1440?random");
    @extend %parallax;
    
    h2 {
        color: white;
    }
}

// Mission & Values
table {
    #value-green {
        background-color: $light-blue;
    }
    
    #value-pink {
        background-color: $pink;
    }
    
    #value-yellow {
        background-color: $yellow;
    }
    
    #value-dblue {
        background-color: $dark-blue;
    }

    td {
        padding-left: 2rem;
        vertical-align: text-top;
    }

    td:nth-child(2) {
        max-width: 9rem;
    }

    td.color-bar {
        padding-left: .5rem;
    }
}

// Equity Principles Logos
#logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    .EPlogo, .EPname {
        background-color: white;
        padding: 1rem;
        width: 7rem;
        height: 7rem;
        margin: .5rem;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        @extend %quick-transition;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    
    .EPlogo:hover, .EPname:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.55);
    }
}

.particles-js-canvas-el {
    display: block;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 1;
    position: absolute;
}

noscript {
    p {
        font-size: 5rem;
        color: red;
    }
}


.overImage {
    z-index: 1;
    position: relative;
    background-color: rgba(255, 255, 255, .7);
    padding: 2rem;
    margin: auto;
}

#screenshots {
    display: flex; 
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    img {
        width: 20rem;
        margin: 1rem;
    }
}

#pledgeButton, #libraryButton {
    @extend %button;
}

#pledgeButton:hover, #libraryButton:hover {
    @extend %button-transition;
}

#libraryButton {
    width: 20rem;
}

#libraryButton:hover {
    width: 21rem;
}

.memberList {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    p {
        margin-right: 3rem;
        margin-top: 3rem;
        font-size: .8rem;
    }
}

blockquote {
    margin: 0;
}

#stem {
    img {
        max-width: 40rem;
        margin-bottom: -10rem;
        margin-left: -10rem;
    }
}

.speaker { 
    width: 10rem;
    height: 10rem;
    img {
        width: 10rem;
    }
}

.speakers {
    display: flex;
    flex-flow: row wrap;
    .speakerContainer {
        width: 10rem;
        margin: 1rem;
        font-size: 1rem;
    }
}

.annualimage {
    width: 20rem;
    height: 20rem;
    min-width: 20rem;
    min-height: 20rem;
    margin: 1rem;
    object-fit: cover;
}

.annualEvent1 {
    display: flex;
    margin-top: 5rem;
}

.annualcont {
    position: relative;
    z-index: 3;
}

// Slide Wrappers

#memberListWrapper {
    background-color: $dark-dark-blue;
    color: white;
}

#buildingBraveWrapper {
    background-color: $gray;
    color: white;
}

#equityWrapper {
    background-color: $pink;
    color: white;
}

#execWrapper {
    background-color: $yellow;
    color: white;
}

#resourceWrapper {
    background-color: $dark-pink;
    color: white;
}

#annualWrapper {
    background-color: $dark-blue;
    color: white;
}

.socialPosts {
    display: flex;
    flex-flow: row wrap;
    max-width: 60rem;
    iframe {
        width: 20rem;
        flex-shrink: 1;
    }
}

#instagram-embed-0 {
    width: 15rem;
    min-width: 10rem !important;
    
}
#instagram-embed-1 {
    width: 15rem;
    min-width: 10rem !important;
    
}
#instagram-embed-2 {
    width: 15rem;
    min-width: 10rem !important;
    
}
#instagram-embed-3 {
    width: 15rem;
    min-width: 10rem !important;
    
}
#instagram-embed-4 {
    width: 15rem;
    min-width: 10rem !important;
    
}
#instagram-embed-5 {
    width: 15rem;
    min-width: 10rem !important;
    
}
#instagram-embed-6 {
    width: 15rem;
    min-width: 10rem !important;
    
}
#instagram-embed-7 {
    width: 15rem;
    min-width: 10rem !important;
    
}
#instagram-embed-8 {
    width: 15rem;
    min-width: 10rem !important;
    
}

#resourceWrapper .hex {
    width: 50rem;
    height: 50rem;
    background-position: right top;
    background-image: url("../images/christin-hume-Hcfwew744z4-unsplash.jpg");
    background-size: 75rem;
    margin-bottom: -35rem;
    position: relative;
    z-index: 0;
}

#resourceWrapper .slide {
    position: relative;
    z-index: 1;
}

.mugshot {
    width: 10rem;
    height: 10rem;
    img {
        width: 10rem;
    }
}

.staffList {
    display: flex; 
    flex-flow: row wrap;
    font-size: .8rem;
    justify-content: space-between;
    .staffContainer {
        width: 10rem;
        margin: 1rem;
        a {
            color: $light-blue;
        }
    }
}

.darken {
    text-shadow: 2px 2px 5px black;
}

#execWrapper {
    .hex {
        width: 30rem;
        height: 30rem;
        position: absolute;
        z-index: 0;
        img {
            height: 30rem;
        }
    }
    .hex.exec1 {
        margin-bottom: -30rem;
    }
    .hex.exec2 {
        right: 0;
        margin-top: -30rem;
        margin-left: 45rem; 
    }
}

.slideContentWrapper {
    position: relative;
    z-index: 1;
}

#execclub {
    position: relative;
}

#covidWrapper {
    background-color: $dark-pink;
    color: white;
}

#programs .eventHex {
    width: 10rem;
    height: 10rem;
    max-width: 10rem;
    max-height: 10rem;
    margin-bottom: -7rem;
    margin-left: -2rem;
    position: relative;
    z-index: 0;
}

.hide {
    display: none !important;
}

@media screen and (min-width: 1245px) {
    .statWrapper:nth-child(odd) {
        margin-top: +10rem;
    }
    .statWrapper:nth-child(even) {
        margin-top: -10rem;
    }
    .statWrapper:nth-child(16) {
        margin-top: 5rem;
    }
}