nav #navlinks a button, #logos .EPlogo, #logos .EPname {
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

header, .transition {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hex {
  -webkit-clip-path: polygon(51% 0, 90% 25%, 90% 74%, 52% 100%, 9% 75%, 9% 25%);
          clip-path: polygon(51% 0, 90% 25%, 90% 74%, 52% 100%, 9% 75%, 9% 25%);
}

body {
  font-family: din-2014, sans-serif;
  color: #58595b;
  font-weight: 200;
  margin: 0 0 0 0;
  font-size: 1.25rem;
}

h1, h2 {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

h1 {
  margin-top: -5rem;
  color: #48a7a7;
  text-align: center;
  z-index: 1;
}

h1 #h1date {
  font-size: 15rem;
  line-height: 13rem;
}

h1 #h1sub {
  font-size: 2rem;
  letter-spacing: 1rem;
  color: #58595b;
  margin-left: -1.8rem;
}

nav {
  min-height: 5rem;
  width: 100%;
  background-color: #cb96a3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
}

nav #navlogo img {
  width: 17rem;
  margin: -1.75rem auto -2rem auto;
}

nav #navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  min-height: 5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 3rem;
  justify-self: flex-end;
}

nav #navlinks a button {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  min-height: 5rem;
  border: none;
  background-color: transparent;
  padding: 0 1rem 0 1rem;
  text-transform: none;
}

nav #navlinks a button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

header {
  background-color: white;
  z-index: 1;
}

.slide, .transition, header {
  min-height: 100vh;
  background-size: cover;
  overflow: hidden;
}

.slide h2, .transition h2, header h2 {
  font-size: 3rem;
}

.slide, .transition {
  padding: 20rem 10rem 20rem 10rem;
}

.slide {
  max-width: 60rem;
  margin: auto;
}

#welcome {
  background-color: #48a7a7;
  color: white;
}

#welcome #chairHeadshots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#welcome #chairHeadshots div {
  margin: 2rem 1rem 2rem 0rem;
}

#welcome #chairHeadshots img {
  margin-left: -1rem;
  width: 15rem;
}

.transition {
  background-image: linear-gradient(135deg, #48a7a7 0%, rgba(72, 167, 167, 0.6) 60%, rgba(0, 0, 0, 0) 60%, rgba(255, 255, 255, 0) 100%), url("http://unsplash.it/1440?random");
}

.transition h2 {
  color: white;
}

table #value-green {
  background-color: #48a7a7;
}

table #value-pink {
  background-color: #cb96a3;
}

table #value-yellow {
  background-color: #c8b638;
}

table #value-dblue {
  background-color: #4885aa;
}

table td {
  padding-left: 2rem;
  vertical-align: text-top;
}

table td:nth-child(2) {
  max-width: 9rem;
}

table td.color-bar {
  padding-left: .5rem;
}

#logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#logos .EPlogo, #logos .EPname {
  background-color: white;
  padding: 1rem;
  width: 7rem;
  height: 7rem;
  margin: .5rem;
  text-align: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#logos .EPlogo img, #logos .EPname img {
  max-width: 100%;
  max-height: 100%;
}

#logos .EPlogo:hover, #logos .EPname:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.55);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.55);
}

.particles-js-canvas-el {
  display: block;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 1;
  position: absolute;
}

noscript p {
  font-size: 5rem;
  color: red;
}

#futureLeaders {
  max-width: 100vw;
}

.bigHex {
  position: relative;
  z-index: 0;
  -o-object-fit: fill;
     object-fit: fill;
  width: 77vw;
  margin-top: -45rem;
  margin-left: -4.55rem;
  margin-right: auto;
}

.overImage {
  z-index: 1;
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem;
}

#screenshots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#screenshots img {
  width: 50rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#pledgeButton {
  background-color: #c8b638;
  border: none;
  padding: 1rem;
  color: white;
  text-transform: uppercase;
  margin-bottom: 2rem;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 12rem;
}

#pledgeButton:hover {
  width: 13rem;
  background-color: #48a7a7;
}

.memberList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.memberList p {
  margin-right: 3rem;
  margin-top: 3rem;
}
