//Fonts
$font-stack: din-2014, sans-serif;
$font-narrow: din-2014-narrow, sans-serif; 

$weight-light: 200;
$weight-regular: 400;
$weight-bold: 700;

$mobile-size: 3rem;


//Colors
$light-blue: #48a7a7;           //rgb(72,167,167)
$dark-blue: #4885aa;            //rgb(72,133,170)
$yellow: #c8b638;               //rgb(200,182,56)
$dark-dark-blue: #407989;       //rgb(64,121,137)
$gray: #58595b;                 //rgb(88,89,91)
$dark-gray: rgba(50,50,50,1);
$darkest-gray: rgba(25,25,25,1);
$pink: #cb96a3;                 //rgb(203,150,163)
$dark-pink: #ad96a4;            //rgb(173,150,164)

.light-blue {
    color: $light-blue;
} 
.dark-blue {
    color: $dark-blue;
} 
.yellow {
    color: $yellow;
} 
.dark-dark-blue {
    color: $dark-dark-blue;
} 
.gray {
    color: $gray;
} 
.pink {
    color: $pink;
} 
.dark-pink {
    color: $dark-pink;
} 

.bg-light-blue {
    background-color: $light-blue;
} 
.bg-dark-blue {
    background-color: $dark-blue;
} 
.bg-yellow {
    background-color: $yellow;
} 
.bg-dark-dark-blue {
    background-color: $dark-dark-blue;
} 
.bg-gray {
    background-color: $gray;
} 
.bg-dark-gray {
    background-color: $dark-gray;
} 
.bg-darkest-gray {
    background-color: $darkest-gray;
} 
.bg-pink {
    background-color: $pink;
} 
.bg-dark-pink {
    background-color: $dark-pink;
} 


//Extend
%quick-transition {
    transition: all;
    transition-duration: .5s;
    transition-timing-function: ease;
}

%parallax {
    background-attachment: fixed;
    @supports (-webkit-overflow-scrolling: touch) {
        @media screen and (max-width: 1000px) {
            background-attachment: scroll;
        }
    }
    background-position: center;
    background-repeat: no-repeat;
}

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%clip-hexagon {
    clip-path: polygon(50% 0, 90% 25%, 90% 75%, 50% 100%, 10% 75%, 10% 25%);
}

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
 @-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  
  /**
   * ----------------------------------------
   * animation pulsate-fwd
   * ----------------------------------------
   */
  @-webkit-keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  /**
   * ----------------------------------------
   * animation text-pop-up-top
   * ----------------------------------------
   */
  @-webkit-keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc;
    }
  }
  @keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc;
    }
  }
  
  /**
   * ----------------------------------------
   * animation fade-in-bottom
   * ----------------------------------------
   */
  @-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  /**
   * ----------------------------------------
   * animation text-focus-in
   * ----------------------------------------
   */
  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  
  
.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
	animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.2s both;
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.2s both;
}

.text-pop-up-top {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.pulsate-fwd:hover {
	-webkit-animation: pulsate-fwd 0.5s ease-in-out both;
	animation: pulsate-fwd 0.2s ease-in-out both;
}

.kenburns-top {
	-webkit-animation: kenburns-top 30s ease-out both;
	animation: kenburns-top 30s ease-out both;
}

//General

article {
    width: 100vw;
    overflow-x: hidden;
}

section {
    width: 100vw;
    overflow-x: hidden;
}

.slideWrapper {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

%button {
    background-color: $yellow;
    border: none;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
    margin-bottom: 2rem;
    transition: all .5s;
    width: 12rem;
    @media screen and (max-width: 1000px) {
        width: 100%;
        height: 5rem;
        font-size: 2rem;
    }
}

%button-transition {
    width: 13rem;
    background-color: $light-blue;
}

%filter {
    filter: saturate(1);
}

html, body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-stack;
    color: $gray;
    font-weight: $weight-light;
    font-size: 1.25rem;
    width: 100vw;
    @media screen and (max-width: 1000px) {
        font-weight: $weight-regular;
        font-size: $mobile-size;
    }
}

.cateShow {
    position: fixed;
    margin-right: 2rem;
    bottom: 0;
    right: 0;
    z-index: 10;
    max-height: 10rem;
}

.cate {
    display: none;
}

.hex {
    @extend %clip-hexagon;
}

.bigHex {
    position: absolute;
    object-fit: cover;
    z-index: -5;
    width: 40rem;
    height: 40rem;
}

.leftHex {
    margin-top: -60rem;
    margin-left: -20rem;
    opacity: 0.25;
    img {
        margin-right: 100rem;
        width: 60rem;
    }
}

.rightHex {
    margin-top: -65rem;
    margin-left: 30rem;
    opacity: 0.25;
}

.bottomHex {
    margin-top: -20rem;
    margin-left: 10rem;
    opacity: 0.25;
}

.flexColumn {
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-between;
}

.flexRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#FLlogos {
    img {
        max-height: 2rem;
        margin: 1rem;
        @media screen and (max-width: 1000px) {
            max-height: 4rem;
        }
    }
    padding: 1rem;
}

.verticalLogo {
    min-height: 5rem;
}

#initiativesTransition {
    background-image: url("../images/Transfer/7.JPG");
    @extend %filter;
}

#payingForwardTransition {
    background-image: url("../images/Transfer/2.JPG");
    @extend %filter;
}

#membersTransition {
    background-image: url("../images/Transfer/5.JPG");
    @extend %filter;
}

#programmingTransition {
    background-image: url("../images/Transfer/8.JPG");
    @extend %filter;
}

#technologyTransition {
    background-image: url("../images/Transfer/12.jpg");
    @extend %filter;
}

.EPname p {
    color: $gray;
}

h1, h2 {
    font-weight: $weight-light;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

h1 {
    // margin-top: -5rem;
    color: $dark-gray;//$light-blue;
    text-align: center;
    z-index: 2;
    // animation: neon 3s infinite;

    #h1date {
        font-size: 15rem;
        line-height: 13rem;
        @media screen and (max-width: 1000px) {
            font-size: 25rem;
            line-height: 20rem;
        }
    }
    
    #h1sub {
        font-size: 2rem;
        letter-spacing: 1rem;
        color: $dark-gray;//$gray;
        margin-left: -1.8rem;
        @media screen and (max-width: 1000px) {
            font-size: 4.5rem;
        }
    }
}

nav {
    min-height: 5rem;
    width: 100vw;
    background-color: $light-blue;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;

    #navlogo {

        img {
            width: 17rem;
            margin: -1.75rem auto -2rem auto;
        }
    }

    #navlinks {
        display: flex;
        width: 80%;
        min-height: 5rem;
        justify-content: flex-end;
        align-items: center;
        padding-right: 3rem;
        justify-self: flex-end;
        
        a {
          
            button {
                color: white;
                text-decoration: none;
                font-size: .75rem;
                font-weight: $weight-regular;
                min-height: 5rem;
                border: none;
                background-color: transparent;
                padding: 0 1rem 0 1rem;
                text-transform: uppercase;
                letter-spacing: .15rem;
                @extend %quick-transition;
            }

            button:hover {
                background-color: rgba(255, 255, 255, .2);
            }  
        }
    }
}

#linkedInFig {
    width: 100%
}

.instaFigBasket {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    figure {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border-radius: .25rem;
        width: 20rem;
        overflow: hidden;
        padding: 1rem;
        @media screen and (max-width: 1000px) {
            width: 100%;
        }
      hr {
        border: .5px solid #dbdbdb;
      }
        img {
            width: 100%;
            border-radius: .25rem;
        }
      .instaDetailsContainer {
        padding-top: 1rem;
        display: flex;
        flex-flow: row nowrap;
        .likesContainer {
          display: flex;
          flex-flow: row nowrap;
          padding-left: 1rem;
          margin: 0;
          align-items: center;
          .heart {
            width: 1rem;
            height: 1rem;
            fill: red;
            @media screen and (max-width: 1000px) {
                width: 2rem;
                height: 2rem;
            }
          }
          p {
            padding-left: .25rem;
            margin: 0;
          }
        }
        .profileImgBorder {
            border: .5px solid #dbdbdb;
            border-radius: 50%;
        }
        .profileImgContainer {
            width: 3rem;
            height: 3rem;
            clip-path: circle(50% at 50% 50%);
            @media screen and (max-width: 1000px) {
                width: 4rem;
                height: 4rem;
            }
          }
      }
        figcaption {
            font-size: 1rem;
            margin-top: 1rem;
            @media screen and (max-width: 1000px) {
                font-size: $mobile-size;
            }
          span {
            word-spacing: 20vw;
            font-weight: $weight-regular;
          }
        }
    }
}

#social {
    &.slide {
        min-height: 0;
    }
}

header {
    background-color: white;
    z-index: 1;
    @extend %parallax;
    @extend %flex-center;
}

#programs {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    @media screen and (max-width: 1000px) {
        flex-flow: column nowrap;
        justify-content: center;
    }
    div:not(.hex) {
        width: 15rem;
        position: relative;
        @media screen and (max-width: 1000px) {
            align-self: center;
            width: 65%;
            padding-left: 15%;
        }
    }
}


div #covidProgramming.slide {
    max-width: 100vw;
}

.covidheader {
    max-width: 60rem;
    text-align: center;
    margin: auto;
    @media screen and (max-width: 1000px) {
        width: 70%;
    }
}

.event {
    margin: 3rem;
}

.quoteContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    font-size: 1.5rem;
    background-color: $light-blue;
    border-radius: 2rem;
    padding: 1rem;
    color: white;
    margin-bottom: 2rem;
    @media screen and (max-width: 1000px) {
        font-size: $mobile-size;
    }
    .quoteAttr {
        font-size: 1rem;
        line-height: 1;
    }
    .hex {
        height: 19rem;
        width: 19rem;
        display: flex;
        align-content: center;
        margin-left: -10rem;
    }
    img {
        height: 19rem;
        text-align: center;
    }
}

.quote {
    font-size: 19rem;
    margin-top: -4rem;
    font-family: sans-serif;
}

.quote1 {
    margin-right: 1rem;
    max-height: 2rem;
}

.slide, .transition, header {
    min-height: 100vh;
    background-size: cover;
    overflow: hidden;
    h2 {
        font-size: 5rem;
        @media screen and (max-width: 1000px) {
            font-size: 6rem;
        }
    }
}

.slide {
    padding: 10rem 10rem 10rem 10rem;
    max-width: 50rem;
    margin: auto;
}

.transition {
    padding: 20rem 10rem 20rem 10rem;
    background-position: center top;
}

.statsWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .statWrapper {
        display: flex;
        flex-flow: row nowrap;
        max-width: 20rem;
        margin: 2rem;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin-bottom: 5rem;
        @media screen and (max-width: 1000px) {
            max-width: 100%;
            width: 100%;
            justify-content: center;
        }
        span {
            font-size: 7rem;
            margin-right: 1rem;
            margin-left: 2rem;
        }
    }
}

.statWrapper:nth-child(2), .statWrapper:nth-child(4) {
    max-width: 25rem;
    @media screen and (max-width: 1000px) {
        max-width: 100%;
    }
    p {
        font-size: .85rem;
        @media screen and (max-width: 1000px) {
            font-size: 2.5rem;
        }
    }
}

#bysector, #covidProgramming {
    max-width: 100vw;
    padding: 0;
    h2 {
        text-align: center;
    }
}

.statHex {
    color: white;
    font-size: 1rem;
    height: 10rem;
    width: 10rem;
    min-height: 10rem;
    min-width: 10rem;
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    @media screen and (max-width: 1000px) {
        height: 30rem;
        width: 30rem;
        min-height: 30rem;
        min-width: 30rem;
        font-size: 2.5rem;
    }
    p {
        width: 10rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin: auto;
        @media screen and (max-width: 1000px) {
            width: 20rem;
        }
    }
}
.bbButton {
    @extend %button;
    margin-top: 2rem;
    width: 20rem;
    @media screen and (max-width: 1000px) {
        width: 100%;
        height: 7rem;
        font-size: 2rem;
    }
}

.bbButton:hover {
    @extend %button-transition;
    width: 22rem;
}

#welcome {
    color: white;
    .slideWrapper:nth-child(1) {
        //background-color: $light-blue;
        background: linear-gradient($light-blue,$dark-blue);
    }
    .slideWrapper:nth-child(2) {
        background-color: $gray;
    }
    .slideWrapper {
        img {
            margin-left: -1rem;
            width: 15rem; 
            height: 15rem;
            object-fit: cover;
            object-position: top;
        }
    }
    .CEOSpiel:nth-child(2) {
        margin-top: 10rem;
    }
    #chairHeadshots {
        display: flex;
        div {
            margin: 2rem 1rem 2rem 0rem;
        }
        img {
            margin-left: -1rem;
            width: 15rem;
        }
    }
}


.transition {
    background-image: linear-gradient(135deg,rgb(72,167,167) 0%,rgba(72,167,167,.6) 60%,rgba(0,0,0,0) 60%,rgba(255,255,255,0) 100%), url("http://unsplash.it/1440?random");
    @extend %parallax;
    
    h2 {
        color: white;
    }
}

// Mission & Values
table {
    #value-green {
        background-color: $light-blue;
    }
    
    #value-pink {
        background-color: $pink;
    }
    
    #value-yellow {
        background-color: $yellow;
    }
    
    #value-dblue {
        background-color: $dark-blue;
    }

    td {
        padding-left: 2rem;
        vertical-align: text-top;
    }

    td:nth-child(2) {
        max-width: 9rem;
        @media screen and (max-width: 1000px) {
            max-width: 50%;
        }
    }

    td.color-bar {
        padding-left: .5rem;
    }
}

// Equity Principles Logos
#logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    @media screen and (max-width: 1000px) {
        justify-content: center;
    }

    .EPlogo, .EPname {
        background-color: white;
        padding: 1rem;
        width: 7rem;
        height: 7rem;
        margin: .5rem;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 1000px) {
            width: 15rem;
            height: 15rem;
        }
        @extend %quick-transition;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    
    .EPlogo:hover, .EPname:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.55);
    }
}

.particles-js-canvas-el {
    display: block;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 1;
    position: absolute;
}

noscript {
    p {
        font-size: 5rem;
        color: red;
    }
}


.overImage {
    z-index: 1;
    position: relative;
    background-color: rgba(255, 255, 255, .7);
    padding: 2rem;
    margin: auto;
}

#screenshots {
    display: flex; 
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    img {
        width: 20rem;
        margin: 1rem;
    }
}

#pledgeButton, #libraryButton {
    @extend %button;
    background-color: $dark-blue;
}

#pledgeButton:hover, #libraryButton:hover {
    @extend %button-transition;
}

#libraryButton {
    width: 20rem;
}

#libraryButton:hover {
    width: 21rem;
}

.figBasket {
    display: flex;
    flex-flow: row wrap;
    figure {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border-radius: .25rem;
        width: 35%;
        overflow: hidden;
        padding: 1rem;
        @media screen and (max-width: 1000px) {
            width: 50rem;
        }
        img {
            width: 100%;
            border-radius: .25rem;
        }
        figcaption {
            font-size: .9rem;
            font-weight: $weight-regular;
            margin-top: 1rem;
            @media screen and (max-width: 1000px) {
                font-size: 2rem;
            }
        }
    }
}

.memberList {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    @media screen and (max-width: 1000px) {
        flex-flow: column nowrap;
        justify-content: center;
    }
    p {
        margin-right: 3rem;
        margin-top: 3rem;
        font-size: .8rem;
        width: 25%;
        @media screen and (max-width: 1000px) {
            font-size: $mobile-size;
            min-width: 100%;
        }
    }
}

blockquote {
    margin: 0;
}

#stem {
    img {
        max-width: 40rem;
        margin-bottom: -10rem;
        margin-left: -10rem;
    }
}

.speaker { 
    width: 10rem;
    height: 10rem;
    img {
        width: 10rem;
    }
}

.speakers {
    display: flex;
    flex-flow: row wrap;
    .speakerContainer {
        width: 10rem;
        margin: 1rem;
        font-size: 1rem;
    }
}

#annualWrapper {
    .slide {
        padding-bottom: 1rem;
        min-height: 30rem;
    }
}

.annualimage {
    width: 20rem;
    height: 20rem;
    min-width: 20rem;
    min-height: 20rem;
    margin: 1rem;
    object-fit: cover;
}

.annualEvent1 {
    display: flex;
    margin-top: 5rem;
}

.annualcont {
    position: relative;
    z-index: 3;
}

// Slide Wrappers

#memberListWrapper {
    background: linear-gradient($dark-dark-blue,$pink);
    color: white;
}

#buildingBraveWrapper {
    background-color: $gray;
    color: white;
}

#equityWrapper {
    background: linear-gradient($yellow, $dark-blue);
    color: white;
}

#execWrapper {
    background: linear-gradient($yellow,$pink);
    color: white;
}

#resourceWrapper {
    background-color: $dark-pink;
    color: white;
}

#annualWrapper {
    background-color: $dark-blue;
    color: white;
}

.socialPosts {
    display: flex;
    flex-flow: row wrap;
    max-width: 60rem;
    iframe {
        width: 20rem;
        flex-shrink: 1;
    }
}

#instagram-embed-0 {
    width: 15rem;
    min-width: 10rem !important;
    
}
#instagram-embed-1 {
    width: 15rem;
    min-width: 10rem !important;
    
}
#instagram-embed-2 {
    width: 15rem;
    min-width: 10rem !important;
    
}
#instagram-embed-3 {
    width: 15rem;
    min-width: 10rem !important;
    
}
#instagram-embed-4 {
    width: 15rem;
    min-width: 10rem !important;
    
}
#instagram-embed-5 {
    width: 15rem;
    min-width: 10rem !important;
    
}
#instagram-embed-6 {
    width: 15rem;
    min-width: 10rem !important;
    
}
#instagram-embed-7 {
    width: 15rem;
    min-width: 10rem !important;
    
}
#instagram-embed-8 {
    width: 15rem;
    min-width: 10rem !important;
    
}

#resourceWrapper .hex {
    width: 50rem;
    height: 50rem;
    background-position: right top;
    background-image: url("../images/christin-hume-Hcfwew744z4-unsplash.jpg");
    background-size: 75rem;
    margin-bottom: -35rem;
    position: relative;
    z-index: 0;
}

#resourceWrapper .slide {
    position: relative;
    z-index: 1;
}

.mugshot {
    width: 10rem;
    height: 10rem;
    @media screen and (max-width: 1000px) {
        width: 30rem;
        height: 30rem;
        align-self: center;
    }
    img {
        width: 10rem;
        @media screen and (max-width: 1000px) {
            width: 30rem;
        }
    }
}

.staffList {
    display: flex; 
    flex-flow: row wrap;
    font-size: .8rem;
    justify-content: space-between;
    @media screen and (max-width: 1000px) {
        flex-flow: column nowrap;
        justify-content: center;
    }
    p {
        @media screen and (max-width: 1000px) {
            font-size: $mobile-size;
        }
    }
    .staffContainer {
        width: 10rem;
        margin: 1rem;
        @media screen and (max-width: 1000px) {
            width: 100%;
            font-size: $mobile-size;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            text-align: center;
        }
        a {
            color: $light-blue;
        }
    }
}

.darken {
    text-shadow: 2px 2px 5px black;
}

#execWrapper {
    .hex {
        width: 30rem;
        height: 30rem;
        position: absolute;
        z-index: 0;
        img {
            height: 30rem;
        }
    }
    .hex.exec1 {
        margin-bottom: -30rem;
        background-image: url("../images/new/TCN40_7505112.jpg");
        background-size: 55rem;
        background-position: right top;
    }
    .hex.exec2 {
        right: 0;
        margin-top: -30rem;
        margin-left: 45rem; 
        background-image: url("../images/new/TCN40_7505116.jpg");
        background-size: cover;
        background-position: right top;
    }
}

.slideContentWrapper {
    position: relative;
    z-index: 1;
}

#execclub {
    position: relative;
}

#covidWrapper {
    background-color: $dark-pink;
    color: white;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    background-color: $dark-blue;
    .galImgCont {
        width: 30rem;
        height: 20rem;
        overflow: hidden;
        margin: 1rem;
        @media screen and (max-width: 1000px) {
            width: 50rem;
            height: 40rem;
        }
        img {
            width: 100%;
        }
    }
}

#programs .eventHex {
    width: 10rem;
    height: 10rem;
    max-width: 10rem;
    max-height: 10rem;
    margin-bottom: -7rem;
    margin-left: -2rem;
    position: relative;
    z-index: 0;
    @media screen and (max-width: 1000px) {
        width: 20rem;
        height: 20rem;
        max-width: 20rem;
        max-height: 20rem;
        margin-bottom: -15rem;
        margin-left: -4rem;
    }
}

.hide {
    display: none !important;
}

@media screen and (min-width: 1245px) {
    .statWrapper:nth-child(odd) {
        margin-top: +10rem;
    }
    .statWrapper:nth-child(even) {
        margin-top: -10rem;
    }
    .statWrapper:nth-child(16) {
        margin-top: 5rem;
    }
}