//Fonts
$font-stack: din-2014, sans-serif;
$font-narrow: din-2014-narrow, sans-serif; 

$weight-light: 200;
$weight-regular: 400;
$weight-bold: 700;

//Colors
$light-blue: #48a7a7;           //rgb(72,167,167)
$dark-blue: #4885aa;            //rgb(72,133,170)
$yellow: #c8b638;               //rgb(200,182,56)
$dark-dark-blue: #407989;       //rgb(64,121,137)
$gray: #58595b;                 //rgb(88,89,91)
$pink: #cb96a3;                 //rgb(203,150,163)
$dark-pink: #ad96a4;            //rgb(173,150,164)

//Extend
%quick-transition {
    transition: all;
    transition-duration: .5s;
    transition-timing-function: ease;
}

%parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%clip-hexagon {
    clip-path: polygon(51% 0, 90% 25%, 90% 74%, 52% 100%, 9% 75%, 9% 25%);
}

%button {
    background-color: $yellow;
    border: none;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
    margin-bottom: 2rem;
    transition: all .5s;
    width: 12rem;
}

%button-transition {
    width: 13rem;
    background-color: $light-blue;
}

%filter {
    filter: saturate(.5);
}


body {
    font-family: $font-stack;
    color: $gray;
    font-weight: $weight-light;
    margin: 0 0 0 0;
    font-size: 1.25rem;
    overflow-x: hidden;
}

.hex {
    @extend %clip-hexagon;
}

.bigHex {
    position: absolute;
    object-fit: cover;
    z-index: -5;
    width: 40rem;
    height: 40rem;
}

.leftHex {
    margin-top: -40rem;
    margin-left: -20rem;
    img {
        max-height: 50rem;
        margin-right: 100rem;
    }
}

.rightHex {
    margin-top: -45rem;
    margin-left: 30rem;
}

.bottomHex {
    margin-left: 10rem;
}

.flexColumn {
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-between;
}

#initiativesTransition {
    background-image: url("/images/transfer/1\ \(1\).JPG");
    @extend %filter;
}

#payingForwardTransition {
    background-image: url("/images/transfer/1\ \(2\).JPG");
    @extend %filter;
}

#membersTransition {
    background-image: url("/images/Transfer/1\ \(5\).JPG");
    @extend %filter;
}

#programmingTransition {
    background-image: url("/images/transfer/1\ \(8\).JPG");
    @extend %filter;
}

#technologyTransition {
    background-image: url("/images/transfer/1\ \(7\).JPG");
    @extend %filter;
}


h1, h2 {
    font-weight: $weight-light;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

h1 {
    margin-top: -5rem;
    color: $light-blue;
    text-align: center;
    z-index: 1;

    #h1date {
        font-size: 15rem;
        line-height: 13rem;
    }
    
    #h1sub {
        font-size: 2rem;
        letter-spacing: 1rem;
        color: $gray;
        margin-left: -1.8rem;
    }
}

nav {
    min-height: 5rem;
    width: 100%;
    background-color: $pink;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;

    #navlogo {

        img {
            width: 17rem;
            margin: -1.75rem auto -2rem auto;
        }
    }

    #navlinks {
        display: flex;
        width: 80%;
        min-height: 5rem;
        justify-content: flex-end;
        align-items: center;
        padding-right: 3rem;
        justify-self: flex-end;
        
        a {
          
            button {
                color: white;
                text-decoration: none;
                font-size: 1rem;
                font-weight: $weight-regular;
                min-height: 5rem;
                border: none;
                background-color: transparent;
                padding: 0 1rem 0 1rem;
                text-transform: none;
                @extend %quick-transition;
            }

            button:hover {
                background-color: rgba(255, 255, 255, .2);
            }  
        }
    }
}

header {
    background-color: white;
    z-index: 1;
    @extend %parallax;
    @extend %flex-center;
}

#programs {
    display: flex;
    flex-flow: row wrap;
    div {
        width: 15rem;
        margin: 1rem;
    }
}

.slide, .transition, header {
    min-height: 100vh;
    background-size: cover;
    overflow: hidden;
    h2 {
        font-size: 3rem;
    }
}

.transition h2 {
    font-size: 5rem;
}

.slide {
    padding: 10rem 10rem 20rem 10rem;
}

.transition {
    padding: 20rem 10rem 20rem 10rem;
}

.slide {
    max-width: 50rem;
    margin: auto;
}

#welcome {
    background-color: $light-blue;
    color: white;
    #chairHeadshots {
        display: flex;
        div {
            margin: 2rem 1rem 2rem 0rem;
        }
        img {
            margin-left: -1rem;
            width: 15rem;
        }
    }
}
.transition {
    background-image: linear-gradient(135deg,rgb(72,167,167) 0%,rgba(72,167,167,.6) 60%,rgba(0,0,0,0) 60%,rgba(255,255,255,0) 100%), url("http://unsplash.it/1440?random");
    @extend %parallax;
    
    h2 {
        color: white;
    }
}

// Mission & Values
table {
    #value-green {
        background-color: $light-blue;
    }
    
    #value-pink {
        background-color: $pink;
    }
    
    #value-yellow {
        background-color: $yellow;
    }
    
    #value-dblue {
        background-color: $dark-blue;
    }

    td {
        padding-left: 2rem;
        vertical-align: text-top;
    }

    td:nth-child(2) {
        max-width: 9rem;
    }

    td.color-bar {
        padding-left: .5rem;
    }
}

// Equity Principles Logos
#logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    .EPlogo, .EPname {
        background-color: white;
        padding: 1rem;
        width: 7rem;
        height: 7rem;
        margin: .5rem;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        @extend %quick-transition;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    
    .EPlogo:hover, .EPname:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.55);
    }
}

.particles-js-canvas-el {
    display: block;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 1;
    position: absolute;
}

noscript {
    p {
        font-size: 5rem;
        color: red;
    }
}


.overImage {
    z-index: 1;
    position: relative;
    background-color: rgba(255, 255, 255, .7);
    padding: 2rem;
    margin: auto;
}

#screenshots {
    display: flex; 
    flex-flow: row nowrap;
    justify-content: space-between;
    img {
        width: 50rem;
        flex-grow: 1;
    }
}

#pledgeButton, #libraryButton {
    @extend %button;
}

#pledgeButton:hover, #libraryButton:hover {
    @extend %button-transition;
}

#libraryButton {
    width: 20rem;
}

#libraryButton:hover {
    width: 21rem;
}

.memberList {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    p {
        margin-right: 3rem;
        margin-top: 3rem;
        font-size: .8rem;
    }
}

.quote {
    font-size: 19rem;
    margin-top: -4rem;
    font-family: sans-serif;
}

.quote1 {
    margin-right: 1rem;
}

.quote2 {
    align-self: flex-end;
}

.quoteContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;;
    font-size: 2rem;
}

blockquote {
    margin: 0;
}

#stem {
    img {
        max-width: 40rem;
        margin-bottom: -10rem;
        margin-left: -10rem;
    }
}

// Slide Wrappers

#memberListWrapper {
    background-color: $dark-dark-blue;
    color: white;
}

#buildingBraveWrapper {
    background-color: $gray;
    color: white;
}

#equityWrapper {
    background-color: $pink;
    color: white;
}

#execWrapper {
    background-color: $yellow;
    color: white;
}