#logos .EPlogo, #logos .EPname, nav #navlinks a button {
  transition: all;
  transition-duration: .5s;
  transition-timing-function: ease;
}

.transition, header {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hex {
  clip-path: polygon(51% 0, 90% 25%, 90% 74%, 52% 100%, 9% 75%, 9% 25%);
}

#pledgeButton, #libraryButton {
  background-color: #c8b638;
  border: none;
  padding: 1rem;
  color: white;
  text-transform: uppercase;
  margin-bottom: 2rem;
  transition: all .5s;
  width: 12rem;
}

#pledgeButton:hover, #libraryButton:hover {
  width: 13rem;
  background-color: #48a7a7;
}

#technologyTransition, #programmingTransition, #membersTransition, #payingForwardTransition, #initiativesTransition {
  filter: saturate(0.5);
}

body {
  font-family: din-2014, sans-serif;
  color: #58595b;
  font-weight: 200;
  margin: 0 0 0 0;
  font-size: 1.25rem;
  overflow-x: hidden;
}

.bigHex {
  position: absolute;
  object-fit: cover;
  z-index: -5;
  width: 40rem;
  height: 40rem;
}

.leftHex {
  margin-top: -40rem;
  margin-left: -20rem;
}

.leftHex img {
  max-height: 50rem;
  margin-right: 100rem;
}

.rightHex {
  margin-top: -45rem;
  margin-left: 30rem;
}

.bottomHex {
  margin-left: 10rem;
}

.flexColumn {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#initiativesTransition {
  background-image: url("../images/Transfer/1.JPG");
}

#payingForwardTransition {
  background-image: url("images/Transfer/2.JPG");
}

#membersTransition {
  background-image: url("../images/Transfer/5.JPG");
}

#programmingTransition {
  background-image: url("../images/Transfer/8.JPG");
}

#technologyTransition {
  background-image: url("../images/Transfer/7.JPG");
}

h1, h2 {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

h1 {
  margin-top: -5rem;
  color: #48a7a7;
  text-align: center;
  z-index: 1;
}

h1 #h1date {
  font-size: 15rem;
  line-height: 13rem;
}

h1 #h1sub {
  font-size: 2rem;
  letter-spacing: 1rem;
  color: #58595b;
  margin-left: -1.8rem;
}

nav {
  min-height: 5rem;
  width: 100%;
  background-color: #cb96a3;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
}

nav #navlogo img {
  width: 17rem;
  margin: -1.75rem auto -2rem auto;
}

nav #navlinks {
  display: flex;
  width: 80%;
  min-height: 5rem;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3rem;
  justify-self: flex-end;
}

nav #navlinks a button {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  min-height: 5rem;
  border: none;
  background-color: transparent;
  padding: 0 1rem 0 1rem;
  text-transform: none;
}

nav #navlinks a button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

header {
  background-color: white;
  z-index: 1;
}

#programs {
  display: flex;
  flex-flow: row wrap;
}

#programs div {
  width: 15rem;
  margin: 1rem;
}

.slide, .transition, header {
  min-height: 100vh;
  background-size: cover;
  overflow: hidden;
}

.slide h2, .transition h2, header h2 {
  font-size: 3rem;
}

.transition h2 {
  font-size: 5rem;
}

.slide {
  padding: 10rem 10rem 20rem 10rem;
}

.transition {
  padding: 20rem 10rem 20rem 10rem;
}

.slide {
  max-width: 50rem;
  margin: auto;
}

#welcome {
  background-color: #48a7a7;
  color: white;
}

#welcome #chairHeadshots {
  display: flex;
}

#welcome #chairHeadshots div {
  margin: 2rem 1rem 2rem 0rem;
}

#welcome #chairHeadshots img {
  margin-left: -1rem;
  width: 15rem;
}

.transition {
  background-image: linear-gradient(135deg, #48a7a7 0%, rgba(72, 167, 167, 0.6) 60%, rgba(0, 0, 0, 0) 60%, rgba(255, 255, 255, 0) 100%), url("http://unsplash.it/1440?random");
}

.transition h2 {
  color: white;
}

table #value-green {
  background-color: #48a7a7;
}

table #value-pink {
  background-color: #cb96a3;
}

table #value-yellow {
  background-color: #c8b638;
}

table #value-dblue {
  background-color: #4885aa;
}

table td {
  padding-left: 2rem;
  vertical-align: text-top;
}

table td:nth-child(2) {
  max-width: 9rem;
}

table td.color-bar {
  padding-left: .5rem;
}

#logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

#logos .EPlogo, #logos .EPname {
  background-color: white;
  padding: 1rem;
  width: 7rem;
  height: 7rem;
  margin: .5rem;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

#logos .EPlogo img, #logos .EPname img {
  max-width: 100%;
  max-height: 100%;
}

#logos .EPlogo:hover, #logos .EPname:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.55);
}

.particles-js-canvas-el {
  display: block;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 1;
  position: absolute;
}

noscript p {
  font-size: 5rem;
  color: red;
}

.overImage {
  z-index: 1;
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem;
  margin: auto;
}

#screenshots {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#screenshots img {
  width: 50rem;
  flex-grow: 1;
}

#libraryButton {
  width: 20rem;
}

#libraryButton:hover {
  width: 21rem;
}

.memberList {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.memberList p {
  margin-right: 3rem;
  margin-top: 3rem;
  font-size: .8rem;
}

.quote {
  font-size: 19rem;
  margin-top: -4rem;
  font-family: sans-serif;
}

.quote1 {
  margin-right: 1rem;
}

.quote2 {
  align-self: flex-end;
}

.quoteContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  font-size: 2rem;
}

blockquote {
  margin: 0;
}

#stem img {
  max-width: 40rem;
  margin-bottom: -10rem;
  margin-left: -10rem;
}

#memberListWrapper {
  background-color: #407989;
  color: white;
}

#buildingBraveWrapper {
  background-color: #58595b;
  color: white;
}

#equityWrapper {
  background-color: #cb96a3;
  color: white;
}

#execWrapper {
  background-color: #c8b638;
  color: white;
}
